In [3]:
HYPHON_E_DOT = "-e ."

def get_requriments(filepath: str)->list:
    requirements = []

    with open(filepath) as file_obj:
        requirements = file_obj.readlines()
        requirements = [ i.replace("\n", "") for i in requirements]
        if HYPHON_E_DOT in requirements:
            requirements.remove(HYPHON_E_DOT)
    print(requirements)        

get_requriments("requirements.txt")

['pandas', 'Flask', 'numpy', 'scikit-learn', 'seaborn']

## Logger

In [2]:
import logging

logging.info('I told you so')  # will not print anything
logging.warning('Watch out!')  # will print a message to the console

WARNING:root:Watch out!

In [ ]:
import os
import sys
import logging
from datetime import datetime


LOG_FILE = f"{datetime.now().strftime('%m_%d_%Y_%H_%M_%S')}.log"

log_path = os.path.join(os.getcwd(), "logs", LOG_FILE)

os.makedirs(log_path, exist_ok= True)

LOG_FILE_PATH = os.path.join(log_path, LOG_FILE)

logging.basicConfig(
    filename=LOG_FILE_PATH,
    format="[ %(asctime)s ] %(lineno)d %(name)s - %(levelname)s - %(message)s",
    level=logging.INFO

)

In [2]:
import os
import sys
import logging
from datetime import datetime

In [40]:
log_file=f"{datetime.now().strftime('%d-%m-%Y_%H-%M-%S')}.log"  
log_dir='Loogss'
log_path=os.path.join(os.getcwd(),log_dir,log_file)
os.makedirs(log_path, exist_ok= True)
log_file_path=os.path.join(log_path,log_file)
logging.basicConfig(
    filename=log_file_path,
    format="[ %(asctime)s ] %(lineno)d %(name)s - %(levelname)s - %(message)s",
    level=logging.INFO

)

if __name__ == "__main__":
   logging.info("Logging initialized!")

In [2]:
class person:
    def __init__(self,name,age,sex):
        self.name=name
        self.age=age
        self.sex=sex

    def __str__(self):
        return f" person name is : {self.name} and his/her age is : {self.age}" 

p=person('ravi',24,'male')     
print(p)

 person name is : ravi and his/her age is : 24

In [3]:
class person:
    def __init__(self,name,age,sex):
        self.name=name
        self.age=age
        self.sex=sex

    def __repr__(self):
        return f" person name is : {self.name} and his/her age is : {self.age}" 

p=person('sunil',34,'male')     
p

 person name is : sunil and his/her age is : 34

In [4]:
from dataclasses import dataclass

@dataclass
class emp:
    name:str
    age:int
    sex:str


e1=emp('ram',30,'male')
e1

emp(name='ram', age=30, sex='male')

In [5]:
e1.name

'ram'

In [56]:
m=emp('monali',25,'female')
m

emp(name='monali', age=25, sex='female')

In [61]:
m.name

'monali'

In [3]:
raw_path=os.path.join("artifacts","raw.csv")
train_path=os.path.join("artifacts","train.csv")
test_path=os.path.join("artifacts","test.csv")

In [4]:
raw_path

'artifacts\\raw.csv'

In [5]:
os.makedirs(os.path.dirname(raw_path),exist_ok=True)

In [6]:
import pandas as pd
df=pd.read_csv('raw.csv')
df

,age,workclass,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,6,13,4,0,1,4,1,2174,0,40,38,0
1,50,5,13,2,3,0,4,1,0,0,13,38,0
2,38,3,9,0,5,1,4,1,0,0,40,38,0
3,53,3,7,2,5,0,2,1,0,0,40,38,0
4,28,3,13,2,9,5,2,0,0,0,40,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32532,27,3,12,2,12,5,4,0,0,0,38,38,0
32533,40,3,9,2,6,0,4,1,0,0,40,38,1
32534,58,3,9,6,0,4,4,0,0,0,40,38,0
32535,22,3,9,4,0,3,4,1,0,0,20,38,0
32536,52,4,9,2,3,5,4,0,15024,0,40,38,1

In [7]:
df.to_csv(raw_path,index=False)

In [8]:
data_ingestion_path=os.path.join('artifacts','data_ingestion')
data_ingestion_path

'artifacts\\data_ingestion'

In [11]:
os.makedirs(data_ingestion_path,exist_ok=True)
raw_csv_path=os.path.join(data_ingestion_path,'raw.csv')
raw_csv_path

'artifacts\\data_ingestion\\raw.csv'

In [13]:
train_csv_path=os.path.join(data_ingestion_path,'train.csv')
test_csv_path=os.path.join(data_ingestion_path,'test.csv')

In [14]:
test_csv_path

'artifacts\\data_ingestion\\test.csv'

In [12]:
df.to_csv(raw_csv_path)

In [16]:
from sklearn.model_selection import train_test_split
train_set,test_set=train_test_split(df,test_size=0.3,random_state=42)

In [19]:
print(train_set.shape)
print(test_set.shape)

(22775, 13)
(9762, 13)

In [ ]:
df.to_csv(train_csv_path,index=False)
df.to_csv(test_csv_path,index=False)

In [ ]:
@dataclass
class car:
    model='Range Rover'
    price="1.5cr"

class car_details:
    def __init__(self,color):
        self.model_price=car()
        self.color=color

    def get_car_details(self):
        return f"The car is {self.model_price.model} and its price Is {self.model_price.price} which is {self.color}"      
    def __repr__(self):
        pass
c=car_details('creamy white')
c.get_car_details()

'The car is Range Rover and its price Is 1.5cr which is creamy white'